.jumbotron {
  background-image:
}

.fix-width {
  width: 100%;
}

.select-pos {
  margin: 1em auto;
}

.name-inputs {
  margin-top: 5em;
}

.robot-example {
  margin-top: 10em;
}

.space {
  display: block;
  padding: 1em 3em;
  margin: 2em auto;
}
